main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ccc;
    width: 500px;
    height: 600px;
    border-radius: 15px;
    overflow: auto;
}

.card-content::-webkit-scrollbar {
  width: 8px;
}

.card-content::-webkit-scrollbar-track {
  background: transparent;
}

.card-content::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}